
.header {
  min-height: 250px;
  background-image: url(../../img/stripes.png);
  text-align: center;
  h1 {
    color: #334460;
    padding-top: 4%;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    font-size: 75px;
  }
}
